
<!-- Header -->
<header>
    <div class="container">
      <div class="row">
          <div class="language pull-right">
              <ul class="list-inline">
                <li><a href="http://error.carolinapodesta.com">Castellano</a></li>
                <li><a href="http://erreur.carolinapodesta.com">Français</a></li>
                <li><a href="mailto:carolina@carolinapodesta.com"><img src="{{ site.baseurl }}img/email_envelope.png"></a></li>
              </ul>
          </div>
          <div class="pull-left links">
              <ul class="list-inline">
                <li><a href="{{ site.baseurl }}series/index.html">Obra</a></li>
                <li><a href="{{ site.baseurl }}about/index.html">Carolina</a></li>
              </ul>
          </div>
      </div>
      <div class="row">
          <div class="intro-text col-md-6 col-md-offset-3">
              <div class="intro-heading">error</div>
              <div class="intro-lead-in">
                  <a href="{{ site.baseurl }}about/index.html">by Carolina Podestá</a>
              </div>
          </div>
      </div>
    </div>
</header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

