<!-- Header -->
<header>
  <div class="container">
    <nav>
      <ul class="links">
        <li><a href="/series/index.html">Work</a></li>
        <li><a href="/about/index.html">Carolina</a></li>
        <li><a href="mailto:carolina@carolinapodesta.com"><img src="/img/email_envelope.png"></a></li>
      </ul>
      <ul class="language">
        <li><a href="http://error.carolinapodesta.com">Castellano</a></li>
        <li><a href="http://erreur.carolinapodesta.com">Français</a></li>
      </ul>
    </nav>
    <div class="intro-text">
      <div class="intro-heading">error</div>
      <div class="intro-lead-in">
        <a href="/about/index.html">by Carolina Podestá</a>
      </div>
    </div>
  </div>
</header>
