 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                            <img src="img/works/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.title }}">
                            <p class="main-text">{{ post.content }}</p>
                            <ul class="list-inline item-details">
                                <li>
                                    <strong>{{ post.size }}</strong>
                                </li>
                                <li>
                                    {{ post.material }}
                                </li>
                                <li><strong>
                                  {% assign m = post.date | date: "%-m" %}
                                  {% case m %}
                                    {% when '1' %}Enero
                                    {% when '2' %}Febrero
                                    {% when '3' %}Marzo
                                    {% when '4' %}Abril
                                    {% when '5' %}Mayo
                                    {% when '6' %}Junio
                                    {% when '7' %}Julio
                                    {% when '8' %}Agosto
                                    {% when '9' %}Septiembre
                                    {% when '10' %}Octubre
                                    {% when '11' %}Noviembre
                                    {% when '12' %}Diciembre
                                  {% endcase %}
                                  {{ post.date | date: "%Y" }}</strong>
                                </li>
                            </ul>
                            {% if post.img-quantity %}
                              {% for index in (1..post.img-quantity) %}
                                <img src="img/works/{{ post.img | replace:'.jpg','' }}{{ index }}.jpg" class="img-responsive img-centered" alt="{{ post.title }}">
                              {% endfor %}
                            {% endif %}
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>Volver</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
