@font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

button {
  background-color: #{{ site.color.grey }};
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  padding: 10px 15px;
}

body {
  overflow-x: hidden;
  margin: 0;
  font-family: Courier,"Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #{{ site.color.secondary-dark }};
  background-color: #{{ site.color.offwhite }};
}

.text-muted {
  color: #777;
}

.text-primary {
  color: #{{ site.color.primary }};
}

p {
  font-size: 14px;
  line-height: 1.75;
}

p.large {
  font-size: 16px;
}

a {
  color: #{{ site.color.primary }};
}

a:hover,
a:focus,
a:active,
a.active {
  color: #{{ site.color.secondary }};
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
}

h3.thin {
  font-weight: 400;
}

.img-centered {
  margin: 0 auto;
}

header a {
  color: #{{ site.color.secondary }};
  text-decoration: none;
}

header {
  text-align: center;
  color: #ff6635;
  background-attachment: scroll;
  background-image: url(./img/background-tile.png);
  background-position: 0% 0%;
  background-repeat: repeat;
}

header .container {
  background-attachment: scroll;
  background-image: url(./img/background-tile-off.png);
  background-position: 126px 126px;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
}

nav {
  width: 100%;
}

header ul {
  list-style: none;
  display: flex;
  margin-top: 0;
  width: 50%;
}

header .links li {
  background-color: #{{ site.color.offwhite }};
  font-size: 24px;
  margin-right: 10px;
  padding: 10px 10px 0;
}

header .links li:hover {
  background-color: #{{ site.color.offerwhite }};
}

header .language {
  padding-top: 10px;
  font-weight: bold;
}

header .language li:first-child {
  margin-left: auto;
}

header .language li {
  margin-right: 20px;
}

header .intro-text {
  margin: 0 30%;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: left;
}

header .intro-text .intro-heading {
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 100px;
  font-weight: 700;
  line-height: 100px;
  opacity: 0.65;
}

header .intro-text .intro-lead-in {
  font-family: Courier, "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 24px;
  font-style: italic;
  line-height: 42px;
  margin-bottom: 25px;
}

header .intro-lead-in a {
  padding: 10px;
  color: #eee;
  background-color: #{{ site.color.secondary }};
}

.main-text {
  font-size: 18px;
  margin-bottom: 40px;
  text-align: justify;
  font-family: sans-serif;
}

section.portfolio {
}

section {
  background-color: #{{ site.color.offwhite }};
  padding: 80px 0;
}

.about {
  margin: 2em 10%;
}

.about h2 {
  margin-bottom: 60px;
}

.about p {
  font-size: 16px;
  line-height: 16px;
}

.about ul {
  list-style: none;
}

.portfolio h2,
.portfolio .main-text {
  margin: 2em 10%;
}

section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

section h3.section-subheading {
  font-family: Courier, "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 75px;
  text-transform: none;
}

.grid {
  display: block;
  padding-top: 40px;
}

.portfolio-item {
  margin: 0 0 60px;
  grid-column-start: 2;
}

.portfolio-item img {
  width: 100%;
}

.portfolio-link {
  display: block;
  position: relative;
  margin: 0 auto 20px;
  max-width: 400px;
}

.portfolio-link:hover {
  opacity: 0.7;
  transition: 0.5s ease-in-out;
}

.portfolio-caption {
  border-bottom: 1px solid #777;
  margin: 0 auto 30px;
  max-width: 400px;
  padding-bottom: 30px;
  text-align: center;
}

.portfolio-caption a {
  background-color: #fff;
  color: #{{ site.color.secondary-dark }};
  padding: 25px;
  text-decoration: none;
}

.portfolio-caption h4 {
  margin: 0;
  text-transform: none;
}

.portfolio-caption p {
  margin: 0;
  font-family: Courier, "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-style: italic;
}

.post {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  max-width: 800px;
  margin: auto;
}

.post h2 {
  margin-bottom: 15px;
  font-size: 3em;
  width: 100%;
}

.post p {
  margin-bottom: 30px;
}

.post p.item-intro {
  margin: 20px 0 30px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-style: italic;
}

ul.item-details {
  display: flex;
  justify-content: space-around;
  padding-left: 0;
  width: 100%;
}

.item-details li {
  display: inline;
}

.post img {
  margin-bottom: 30px;
}

.post a {
  margin-left: auto;
}

@media(min-width:768px) {
  header .intro-text .intro-heading {
    font-size: 150px;
    line-height: 150px;
  }

  .grid {
    display: grid;
    grid-gap: 20px 8%;
    grid-template-columns: 2% 40% 30%;
  }

  .portfolio-item {
    grid-column-start: 2;
  }

  .portfolio-caption {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

@media(min-width:450px) {
  nav {
    display: flex;
  }
}
