<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">

<!-- About Section -->
    <section id="about">
        <div class="container">
            <a href="{{ site.baseurl }}index.html"<button type="button" class="btn btn-default pull-right">Volver</button></a>
            <div class="row mail-link">
                <div class="col-md-8">
                    <a href="mailto:{{ page.mail }}">{{ page.mail }}</a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                  <p class="main-text">
                    {{ page.content }}
                  </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <a href="{{ site.baseurl }}index.html"><button type="button" class="btn btn-default">Volver</button></a>
                </div>
            </div>
        </div>
    </section>
    {% include js.html %}

    </body>
</html>
