<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">

      <div class="container post">
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2">
                  <div class="modal-body">
                      <a href="{{ site.baseurl }}index.html"<button type="button" class="btn btn-default pull-right">Volver</button></a>
                      <h2>{{ page.title }}</h2>
                      <hr class="star-primary">
                      <img src="{{ site.baseurl }}img/works/{{ page.img }}" class="img-responsive img-centered" alt="{{ page.title }}">
                      <p class="main-text">{{ page.content }}</p>
                      <ul class="list-inline item-details">
                          <li>
                              <strong>{{ page.size }}</strong>
                          </li>
                          <li>
                              {{ page.material }}
                          </li>
                          <li><strong>
                            {% assign m = page.date | date: "%-m" %}
                            {% case m %}
                              {% when '1' %}Enero
                              {% when '2' %}Febrero
                              {% when '3' %}Marzo
                              {% when '4' %}Abril
                              {% when '5' %}Mayo
                              {% when '6' %}Junio
                              {% when '7' %}Julio
                              {% when '8' %}Agosto
                              {% when '9' %}Septiembre
                              {% when '10' %}Octubre
                              {% when '11' %}Noviembre
                              {% when '12' %}Diciembre
                            {% endcase %}
                            {{ page.date | date: "%Y" }}</strong>
                          </li>
                      </ul>
                      {% if page.img-quantity %}
                        {% for index in (1..page.img-quantity) %}
                          <img src="{{ site.baseurl }}img/works/{{ page.img | replace:'.jpg','' }}{{ index }}.jpg" class="img-responsive img-centered" alt="{{ page.title }}">
                        {% endfor %}
                      {% endif %}
                      <a href="{{ site.baseurl }}"<button type="button" class="btn btn-default">Volver</button></a>
                  </div>
              </div>
          </div>
      </div>
    {% include footer.html %}
    {% include js.html %}

    </body>
</html>
